# Java
target/
*.class
*.jar
*.war
*.ear
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
build/
dist/

# IDEs
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Environment
.env
application-local.properties

# Logs
*.log
logs/

# Database
*.db
